# Exercise 28-05 v3.2.0
#
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: loadbalancer-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: loadbalancer-deploy
  minReplicas: 1
  maxReplicas: 10
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 50
